<!doctype html>
<html>
  
<head>
  <meta charSet="utf-8" />
  <link href="<%= context.config.publicPath %>loading.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title></title>
</head>

<body>
  <div id="wx-loading">
    <div id="wx-loading-center">
      <div id="wx-loading-center-absolute">
        <div class="wx-object" id="wx-object_one"></div>
        <div class="wx-object" id="wx-object_two"></div>
        <div class="wx-object" id="wx-object_three"></div>
        <div class="wx-object" id="wx-object_four"></div>
      </div>
    </div>
  </div>
  <script src="<%= context.config.publicPath %>loading.js" type="text/javascript"></script>
</body>
</html>